footer{
    background-color: #FFDAB9;
    padding: 50px;
}

img{
    width: 300px;
    height: auto;
}

footer {
    background-color: #000;
    color: #fff;
    padding: 10px;
    text-align: center;
  }