footer{
    background-color: #ED419A;
    padding: 50px;
}

h1{
    color: #8a3d3d;
}

img{
    width: 200px;
    height: auto;
    align-items: left;
    text-align: left;
}

footer {
    background-color: #FFDAB9;
    color: black;
    padding: 10px;
    text-align: center;
}