.form-main input,
.form-main textarea{
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 300px;
}

.form-main button{
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  align-items: center;
  text-align: center;
}

.form-main{
    padding: 50px;
    text-align: center;
}

.form-main h5{
    font-size: 24px;
}

.form-main input, .form-main textarea{
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 300px;
}

.form-main {
    text-align: center;
    margin-top: 50px;
}

h5 {
    color: #8a3d3d
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    justify-content: center; 
    text-align: center;
}

input[type="text"],
textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}

input[type="text"]:focus,
textarea:focus {
    border-color: purple;
    outline: none;
}

button {
    padding: 10px 20px;
    background-color: purple;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}






.formulario{
    padding: 50px;
    display: flex;
    justify-content: center;
}

.form-container {
    width: 500px;
    background: linear-gradient(#fdfdfd, #fdfdfd) padding-box,
                linear-gradient(145deg, transparent 35%, purple ) border-box;
    border: 2px solid transparent;
    padding: 35px 25px;
    font-size: 15px;
    font-family: inherit;
    color: #000;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 15px;
  }
  
  .form-container button:active {
    scale: 0.95;
  }
  
  .form-container .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .form-container .form-group {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  
  .form-container .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #0C0D0C;
    font-weight: 600;
    font-size: 12px;
  }
  
  .form-container .form-group input {
    width: 93%;
    padding: 12px 16px;
    border-radius: 8px;
    color: #000;
    font-family: inherit;
    background-color: transparent;
    border: 2px solid #0C0D0C;
  }
  
  .form-container .form-group input::placeholder {
    opacity: 0.5;
  }
  
  .form-container .form-group input:focus {
    outline: none;
    border-color: purple;
  }
  
  .form-container .form-group textarea:focus {
    outline: none;
    border-color: purple;
  }
  
  .form-container .form-submit-btn {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-self: flex-start;
    font-family: inherit;
    color: #fff;
    font-weight: 600;
    width: 40%;
    background: #0C0D0C;
    border: 2px solid #414141;
    padding: 12px 16px;
    font-size: inherit;
    gap: 8px;
    margin-top: 8px;
    cursor: pointer;
    border-radius: 6px;
    transition: 0.5s;
  }
  
  .form-container .form-submit-btn:hover {
    background-color: #fff;
    border-color: purple;
    transition: 0.5s;
    color: purple;
  }

  .textos{
    color: black;
  }
  