header{
    background-color: pink;
    display: flex;
    justify-content: space-between;
    padding: 20px 10vw;
    align-items: center;
}

header nav ul li a{
    text-decoration: none;
    padding: 15px;
    border: 1px solid hotpink;
    color: white;
}
header nav ul{
    display: flex;
    list-style: none;
    gap: 15px;
}
