.filme_content{
    /* width: 300px; */
    padding: 50px;
    box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.1);
    overflow: hidden;
}
.foto_filme{
    min-height: 350px;
    display: flex;
    align-items: center;
}
.foto_filme>img{
    width: 100%;
}
.sinopse{
    text-align: justify;
}