.content-main{
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    column-gap: 30px;
    row-gap: 30px;

    /* gap: 30px;
    flex-wrap: wrap;
    justify-content: center; */
}
.barrapesquisa{
    height: 30px;
    border: 1px solid #bebebe;
    width: 200px;
    border-radius: 5px;
    font-size: 1.4rem;
}
.barrapesquisa:focus-visible{
    outline: 1px solid rgba(28, 28, 191, 0.57);
}
.pesquisa{
    padding: 50px;
}