.content-main{
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-content: center;
    gap: 30px;
    row-gap: 30px;

    /* gap: 30px;
    flex-wrap: wrap;
    justify-content: center; */
}