body {
    font-family: Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    text-align: center;
    align-items: center;
}

h2{
    text-align: center;
}

p{
    align-items: center;
    text-align: center;
}

h4{
    font-family: Impact, sans-serif;
    font-size:35.5px;
    color: #d3b6ff
}

h6 {
    text-align: center;
    align-items: center;
    color: #f2b2b2;
    font-size: 25px;
}

.barrapesquisa{
    height: 30px;
    border: 1px solid #bebebe;
    width: 200px;
    border-radius: 5px;
    font-size: 1.4rem;
}
.barrapesquisa:focus-visible{
    outline: 1px solid #d3b6ff;
}
.pesquisa{
    padding: 50px;
}

p{
    text-align: center;
}

main h2{
    color: #8a3d3d;
    align-items: center;
    text-align: center;
}

h2{
    color:#8a3d3d;
}

h5{
    color:#8a3d3d;
    font-size: 55px;

}

img {
    margin: 10px;
    padding: 10px;
    margin-top: 100px;
    align-items: center;
    text-align: center;
}

.image-container img {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contact h2{
    font-size: 24px;
}

.sinopse {
    align-items: center;
    text-align: center;
}

.form-main{
    align-items: center;
    text-align: center;
    color:#8a3d3d;
}

.content-main input,
.contact textarea {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 300px;
}

.content-main button{
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.sticky-button{
    position: absolute;
    top: 45px;
    right: 20px;
    background-color: #008B8B;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    z-index: 99;
}

.content-main{
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    column-gap: 30px;
    row-gap: 30px;
    min-height: 50vh;
     gap: 30px;
    flex-wrap: wrap;
    justify-content: center; 
}

.form-main input,
.form-main textarea{
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 300px;
}

.form-main button{
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  align-items: center;
  text-align: center;
}

.form-main{
    padding: 50px;
    text-align: center;
}

.form-main h5{
    font-size: 24px;
}

.form-main input, .form-main textarea{
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 300px;
}

.form-main {
    text-align: center;
    margin-top: 50px;
}

h5 {
    color: #8a3d3d
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    justify-content: center; 
    text-align: center;
}

input[type="text"],
textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}

input[type="text"]:focus,
textarea:focus {
    border-color: purple;
    outline: none;
}

button {
    padding: 10px 20px;
    background-color: purple;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}